/* General layout for full view height and width */
  .App-header {
    position: relative; 
    top: 0; 
    left: 0; 
    width: 100vw; 
    height: 100vh; 
    background: #DFD8CB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  
  /* Styling for the Tic-Tac-Toe board */
  .board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
  }

  /* Style for each row */
    .row {
        display: flex;
        justify-content: center;
    }
  
    .Playboard-NormalText {
        text-align: center;
        font-family: 'Gaegu';
        font-weight: 400;
        font-size: 1.7vw;
        color: #301313;
      }

  /* Style for each square button */
  .square {
    width: 15vh;
    height: 15vh;
    background-color: #DFD8CB;
    border: 0;
    font-size: 4rem;
    font-family: 'Gaegu', sans-serif;
    color: #301313; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .square:disabled {
    cursor: not-allowed;
  }
  
  /* Hover and active state for the game buttons */
  .square:hover:not(:disabled) {
    background-color: #d2c3a7;
    padding: 10px;
  }

  .square#a3 {
    border-right: 4px solid rgba(48, 19, 19, 0.3);
    border-bottom: 4px solid rgba(48, 19, 19, 0.3);
  }

  .square#a2 {
    border-right: 4px solid rgba(48, 19, 19, 0.3);
    border-bottom: 4px solid rgba(48, 19, 19, 0.3);
    border-top: 4px solid rgba(48, 19, 19, 0.3);
  }

    .square#a1 {
        border-right: 4px solid rgba(48, 19, 19, 0.3);
        border-top: 4px solid rgba(48, 19, 19, 0.3);
    }

    .square#b3 {
        border-right: 4px solid rgba(48, 19, 19, 0.3);
        border-bottom: 4px solid rgba(48, 19, 19, 0.3);
        border-left: 4px solid rgba(48, 19, 19, 0.3);
      }
    
    .square#b2 {
    border-right: 4px solid rgba(48, 19, 19, 0.3);
    border-left: 4px solid rgba(48, 19, 19, 0.3);
    border-bottom: 4px solid rgba(48, 19, 19, 0.3);
    border-top: 4px solid rgba(48, 19, 19, 0.3);
    }
    
    .square#b1 {
        border-left: 4px solid rgba(48, 19, 19, 0.3);
        border-right: 4px solid rgba(48, 19, 19, 0.3);
        border-top: 4px solid rgba(48, 19, 19, 0.3);
    }

    .square#c3 {
        border-bottom: 4px solid rgba(48, 19, 19, 0.3);
        border-left: 4px solid rgba(48, 19, 19, 0.3);
      }
    
    .square#c2 {
    border-left: 4px solid rgba(48, 19, 19, 0.3);
    border-bottom: 4px solid rgba(48, 19, 19, 0.3);
    border-top: 4px solid rgba(48, 19, 19, 0.3);
    }
    
    .square#c1 {
        border-left: 4px solid rgba(48, 19, 19, 0.3);
        border-top: 4px solid rgba(48, 19, 19, 0.3);
    }
  
  /* Styling the Turn Indicator Text */
  .App-NormalText {
    font-family: 'Gaegu', sans-serif;
    font-size: 1.5rem;
    color: #301313;
    margin-bottom: 20px;
  }
  
  /* Style for the Start Game button */
  .App-Button {
    min-height: 30px;
    height: 6vh;
    width: 11vw;
    border: 2px solid #301313;
    border-radius: 2vw;
    background-color: #D6CDBCDB;
    color: black; 
    font-size: 1.7vw;
    font-family: 'Gaegu';
    cursor: pointer;
    text-align: center;
    transition: color 0.1s ease, background-color 0.1s ease;
    white-space: nowrap;
  }
  
  .App-Button:hover {
    background-color: #301313;
    color: #D6CDBCDB;
  }
  
  .App-Button:active {
    transform: scale(0.9);
    color: white
  }